.git
.vs
.vscode

**/bin
**/obj
**/node_modules
**/dist
**/build
**/.cache

frontend
images
Database
*.db
*.sqlite
*.log
tmp-postgres-build
backend/API/backend_run_output.txt
backend/API/frontend_build_output.txt